@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Fibonacci Number</h1>
    <p class="tw-pb-2">Each time you click inside the blue box, htmx will reload the number, plus the sequence to get to the number</p>
    <p class="tw-pb-3">this uses htmx oob and replaces content in two places on the page with one htmx request/response call</p>
    <div hx-get="/another-random" hx-trigger="load, click" class="p-5 tw-text-5xl tw-border-8 tw-border-blue-500 tw-cursor-pointer">
        @await Html.PartialAsync("_MyPartial",(long)Random.Shared.Next(1,100))
    </div>
    <div id="nums">
    </div>
    
</div>