@model ChinaCatSunflower.Models.Book.BookIndexModel

<h2>Books</h2>


<hr />
<div class="row tw-pb-3 tw-pt-4">
    <div class="offset-2 col-4 tw-flex tw-justify-end tw-text-3xl tw-italic">
        Add a new book via ISBN (10)
    </div>
    <div class="col-4">
        
        @await Html.PartialAsync("_BookForm", Model.AddNewBook)

    </div>
</div>

<div>
    <div id="book_details"></div>
</div>
<hr/>
<div>
    <table class="table table-striped table-sm tw-text-orange-700">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Pages</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="book_table_body" hx-get="/books/load" hx-trigger="load, bookadd from:body">
        </tbody>
    </table>

</div>
@section Scripts {
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event){
           htmx.config.useTemplateFragments = true;
        });
    </script>
}
